@use 'variaveis';

@media screen and (max-width: variaveis.$tamanhoMobile){
    .hero{
        &__content{
            max-width: 360px;
            .title--small{
                font-size: 28px;
            }
            .link-text{
                font-size: 16px;
            }
            .text{
                font-size: 14px;
                color: variaveis.$corTextoSecundario;
            }
            }
        }
        .shows{
            &__options{
                max-width: 100%;
                button{
                    font-size: 18px;
                    padding: 10px;
                }
            }
            &__list{
                grid-template-columns: 1fr 1fr
            }
            .corsarios{
                grid-template-columns: 1fr 1fr
            }
        }
    }
