@use 'variaveis';
@use 'hero';
@use 'shows';

@font-face {
    font-family: 'One-Piece-Font';
    src: url(../../assets/fonts/one\ piece\ font.ttf) format('truetype');
    font-weight: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'One-Piece-Font';
}


body{
    background-image: url(../../dist/images/fundo/fundo-principal.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    max-width: 1344px;
    margin: 0 auto;
    font-family: 'One-Piece-Font', Times, Serif;
}

@mixin text($fontSize:16px){//definindo um mixin onde os textos deveram ter um font-size que poderá ser alterado
    //e a altura da linha deverá sempre ser 10px a mais, e cor será do texto principal
    //todas as classes que utilizarem esse mixin herdarão isso.
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin title($fontSize:40px){
    @include text($fontSize);
    color: variaveis.$corTextoSecundario
}

.text--big{
    @include text(18px); //estamos passando outro valor para o fonte size
}

.text{
    @include text(19px);
}

.text--small{
    @include text(12px);
}

.title--big{
    @include title(44px);
}

.title{
    @include title;
}

.title--small{
    @include title(40px);
}

.link-text{
    @include text(25px);
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
}